<div class="jumbotron">
    <h1>Jason Wang's personal website.</h1>
    <h2>Discover my secret world</h2>
</div>

<div class="center">
<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
        <div class="thumbnail">
            <%= link_to image_tag(listing.image.url), listing %>
            </br>
            <div class="caption">
                <h3><%= listing.name %></h3>
                <p><%= number_to_currency(listing.price.round(2)) %></p>
                <p> <%= "Sold by #{listing.user.name}" %></p>
            </div>
        </div>

        <br/>
        <br/>

        <%= listing.description %><br/>
        <br/>
    </div>
  <% end %>
</div>
</div>
<br>
<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path , class: "btn btn-link" %>
<% end %>
